[package]
authors = ["Nelson Chen <nelson@mindflakes.com>"]
description = "Speedtest.net testing utility and crate"
exclude = ["tests/config/*"]
license = "MIT OR Apache-2.0"
name = "speedtest-rs"
repository = "https://github.com/nelsonjchen/speedtest-rs"
version = "0.0.11"
edition = "2018"

[dependencies]
clap = "2.32.0"
env_logger = "0.6.0"
error-chain = "0.12.0"
log = "0.4.6"
reqwest = "0.9.9"
rust-crypto = "0.2.36"
time = "0.1.42"
url = "1.7.2"
xml-rs = "0.8.0"
