[package]
authors = ["Nelson Chen <nelson@mindflakes.com>"]
description = "Speedtest.net testing utility and crate"
exclude = ["tests/config/*"]
license = "MIT OR Apache-2.0"
name = "speedtest-rs"
repository = "https://github.com/nelsonjchen/speedtest-rs"
version = "0.0.14"
edition = "2018"

[dependencies]
clap = "2.33.0"
chrono = "0.4.11"
env_logger = "0.7.1"
log = "0.4.8"
reqwest = "0.9.24"
time = "0.1.42"
url = "2.1.1"
xml-rs = "0.8.2"
mockito = "0.25.0"
md5 = "0.7.0"
csv = "1.1.3"
serde = { version = "1", features = ["derive"] }

[features]
rustls-tls = ["reqwest/rustls-tls"]
